
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	font-family: Courier;
	font-size: 20px;
	margin: Opx;

}

h1{
	font-family: Courier;
	font-size: 40px;
	font-style: italic;
	text-align: center;
}

a{
	text-decoration: none ;
}

h2{
	font-family: Courier;
	font-size: 30px;
	font-style: italic;
	text-align: center;
	font-weight: lighter;

